# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.venv/

# Node
node_modules/

# Next.js
.next/
out/

# Environment & secrets
.env
.env.*
*.pem

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
*.log
.vercel
*.tsbuildinfo
next-env.d.ts
